.stepper_button {
  width: 72px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f85b25), to(#f84421));
  background: -moz-linear-gradient(top, #f85b25, #f84421);
  -ms-filter: progid:dximagetransform.microsoft.gradient(startColorStr=#f85b25, endColorStr=#f84421);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr=#f85b25, endColorStr=#f84421);
  -webkit-box-shadow: inset 0px 1px 0px #FBA078;
  -moz-box-shadow: inset 0px 1px 0px #FBA078;
  -o-box-shadow: inset 0px 1px 0px #FBA078;
  box-shadow: inset 0px 1px 0px #FBA078;
  text-shadow: 0px -1px 0px #b34300;
  filter: dropshadow(color=#b34300, offx=0px, offy=-1px);
}
.numeric-stepper__button:active {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f84421), to(#f84421));
  background: -moz-linear-gradient(top, #f84421, #f84421);
  -ms-filter: progid:dximagetransform.microsoft.gradient(startColorStr=#f85b25, endColorStr=#f84421);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr=#f85b25, endColorStr=#f84421);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.numeric-stepper {
  border: 4px solid black;
  font-size: 48px;
  color: #000000;
  line-height: 72px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: #d9d9d9;
  -webkit-box-shadow: 0px 1px 0px #7B7B7B;
  -moz-box-shadow: 0px 1px 0px #7B7B7B;
  -o-box-shadow: 0px 1px 0px #7B7B7B;
  box-shadow: 0px 1px 0px #7B7B7B;
  width: 272px;
  text-align: center;
}
.numeric-stepper__left {
  float: left;
  width: 72px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f85b25), to(#f84421));
  background: -moz-linear-gradient(top, #f85b25, #f84421);
  -ms-filter: progid:dximagetransform.microsoft.gradient(startColorStr=#f85b25, endColorStr=#f84421);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr=#f85b25, endColorStr=#f84421);
  -webkit-box-shadow: inset 0px 1px 0px #FBA078;
  -moz-box-shadow: inset 0px 1px 0px #FBA078;
  -o-box-shadow: inset 0px 1px 0px #FBA078;
  box-shadow: inset 0px 1px 0px #FBA078;
  text-shadow: 0px -1px 0px #b34300;
  filter: dropshadow(color=#b34300, offx=0px, offy=-1px);
  -webkit-border-top-left-radius: 11px;
  -moz-border-radius-topleft: 11px;
  border-top-left-radius: 11px;
  -webkit-border-bottom-left-radius: 11px;
  -moz-border-radius-bottomleft: 11px;
  border-bottom-left-radius: 11px;
}
.numeric-stepper__right {
  float: right;
  width: 72px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f85b25), to(#f84421));
  background: -moz-linear-gradient(top, #f85b25, #f84421);
  -ms-filter: progid:dximagetransform.microsoft.gradient(startColorStr=#f85b25, endColorStr=#f84421);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr=#f85b25, endColorStr=#f84421);
  -webkit-box-shadow: inset 0px 1px 0px #FBA078;
  -moz-box-shadow: inset 0px 1px 0px #FBA078;
  -o-box-shadow: inset 0px 1px 0px #FBA078;
  box-shadow: inset 0px 1px 0px #FBA078;
  text-shadow: 0px -1px 0px #b34300;
  filter: dropshadow(color=#b34300, offx=0px, offy=-1px);
  -webkit-border-top-right-radius: 11px;
  -moz-border-radius-topright: 11px;
  border-top-right-radius: 11px;
  -webkit-border-bottom-right-radius: 11px;
  -moz-border-radius-bottomright: 11px;
  border-bottom-right-radius: 11px;
}
.numeric-stepper__body {
  margin-left: 72px;
  margin-right: 72px;
  font-size: 35px;
  -webkit-box-shadow: inset 0px 1px 0px #E8E8E8, inset 3px 0px 13px #B7B7B7, inset -3px 0px 13px #B7B7B7, inset 0px -3px 13px #B7B7B7;
  -moz-box-shadow: inset 0px 1px 0px #E8E8E8, inset 3px 0px 13px #B7B7B7, inset -3px 0px 13px #B7B7B7, inset 0px -3px 13px #B7B7B7;
  -o-box-shadow: inset 0px 1px 0px #E8E8E8, inset 3px 0px 13px #B7B7B7, inset -3px 0px 13px #B7B7B7, inset 0px -3px 13px #B7B7B7;
  box-shadow: inset 0px 1px 0px #E8E8E8, inset 3px 0px 13px #B7B7B7, inset -3px 0px 13px #B7B7B7, inset 0px -3px 13px #B7B7B7;
}
